@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1, body {
  margin: 0;
}
body {
  background-color: black;
}
h1, h2, h3 {
  font-family: 'Press Start 2P', cursive;
}
h3 {
  font-size: 12px;
}
h4, p, a, footer {
  font-family: 'PT Serif', serif;
}
p {
  font-size: 11px;
  color: white;
  font-weight: 300;
}
h2 {
  font-size: 20px;
  color:  #EFB1FF;
}
h1 {
    background-color: #66A563;
    padding: 30px;
    text-align: center;
  }
  h3 {
    text-align: center;
    margin-top: 40px;
    color: white;
  }
  a {
      color: #835B7F;
      text-decoration: none;
      display: block;
      text-align: center;
      font-family: 'Press Start 2P', cursive;
      background-color: #F0FF79;
      padding: 20px;
      margin: 15px;
  }
  h2, p {
    margin: 10px;
  }
  footer {
    background-color: #835B7F;
    color: #F0FF79;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
  }