@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1, h2, h3 {
    font-family: 'Press Start 2P', cursive;
}
h4, p {
    font-family: 'PT Serif', serif;
}