html {
    font-family: sans-serif;
}
#newList {
    display: flex;
    flex-wrap: wrap;
}
h1 {
    margin-left: 45px;
    max-width: 350px;
}
.pokeAbilities {
    width: 35%;
    margin: 3px;
    border-style: outset;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;
    text-align: center;
}
#prevBTN {
    margin-left: 45px;
    background-color: white;
    border: 3px solid purple;
}

#nextBTN {
    background-color: white;
    border: 3px solid purple;
}