@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Poppins:300,300i,400,400i,500,500i,700,700i,800,800i,900,900i&display=swap');

main {
    margin: 10px;
    font-family: Poppins, sans-serif;
}
h1 {
    font-family: Lora, serif; 
}
ul {
    list-style: none;
}
ul li:first-child {
    display: block;
    background-color: #BA9F9D;
    font-size: 1.25em;
}
ul li {
    display: none;
}
nav ul li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    border: 1px solid grey;
    color: black;   
}
ul#nav {
    padding-left: 0;
}
.show li {
    display: block;
}
footer {
    background-color: #BA9F9D;
    color: black;
    border-radius: 5px;
    padding: 15px 25%;
    font-family: Lora, serif;
    font-size: .9em;
    border: 1px solid grey;
}
footer p {
    text-align: center;
}