@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Lobster&display=swap');

body {
    margin: 0;
    min-width: 400px;
}
main {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
.logo {
    font-family: 'Lobster', cursive;
    font-size: 2em;
}
header {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px;
    color: #181818;
    /*background-image: linear-gradient(to bottom right, #94618E , #49274A 90%);*/
}
header h4 {
    display: inline;
}
header h4 a {
    text-decoration: none;
    color:#181818;
}
header nav {
    margin-top: 10px;
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: .9em;
    font-weight: 600;
}
.current:link {
    color: #EE5135;
    font-weight: 700;
    text-decoration: underline wavy;
} 
.current:visited {
    color: #EE5135;
    font-weight: 700;
}
.current:hover {
    text-decoration: underline wavy;
}
.current:active {
    color: #181818;
}
header nav ul {
    display: inline;
    margin: 0;
}       
header nav ul li {
    display: inline-block;
    padding-left: 25px;
}
header nav ul li a:link {
    text-decoration: none;
    color: #181818;
}
header nav ul li a:visited {
    color: #181818;
}
header nav ul li a:hover {
    text-decoration: underline wavy;
}
header nav ul li a:active {
    color: #181818;
}


main {
	padding: 0px 250px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
main h1 {
    margin-top: 10px;
    margin-bottom: 50px;
    font-family: 'Lobster', cursive;
    font-size: 5em;
}
main h2 {
	font-family: 'Open Sans', sans-serif;
    font-weight: 800;
	font-size: 2em;
	margin-top: 0;
}
main h3 {
    margin-bottom: -10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    margin-top: 100px;
}
main h4 {
	font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
	margin-bottom: 5px;
    font-weight: 400;
    color: #959797;
}
main p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
}
.intro {
    margin-top: 10%;
}
main img {
    width: 100%;
    position: absolute;
    margin-top: -50px;
    left: 0;
    right: 0;
}
.body {
	margin-top: 270px;
}
.body div {
	margin-bottom: 125px;
}

footer {
    font-family: 'Open Sans', sans-serif;
    font-size: .9em;
    background-color: #49274A;
    color: #F8EEE7;
}
footer section {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
}
footer h2 {
    margin-bottom: 0px;
    text-transform: uppercase;
    font-size: 1em;
}
footer .logo {
    grid-column: 1/2;
    font-size: 2.5em;
    margin: 0;
}
footer .logo a {
    text-decoration: none;
    color: #F8EEE7;
}
footer .menu {
    grid-column: 2/3;
}
footer .menu ul{
    list-style-type: none;
    padding: 0;
}
footer .menu ul li {
    padding-bottom: 5px;
}
footer .menu a {
    text-decoration: none;
    color:#F8EEE7;
}
footer .menu a:hover {
    color: #F3933D;
}
footer .copyright {
    grid-column: 1/2;
    font-size: .9em;
    color: #F8EEE7;
}

/* Mobile */
@media (max-width: 430px) {
    .lrg-menu {
        display: none;
    }
    header {
        padding: 20px 0px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    
    header nav ul{
        font-size: 1.25em;
        display: block;
    }
    header nav ul li {
        display: block;
    }
    main {
        padding: 10px 0px;
        width: 80%;
        margin-left:auto;
        margin-right: auto;
    }
    .body {
        margin-top: 100px;
    }
    footer {
        display: block;
    }
    footer .logo {
        margin-bottom: 20px;
    }
    footer .logo, footer div {
        width: 400px;
        margin-left: auto;
        margin-left: auto;
    }
}

/* Small Tablets */
@media (min-width: 431px) and (max-width: 700px) {
    .lrg-menu {
        display: none;
    }
    header {
        padding: 20px 0px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    main {
        padding: 10px 0px;
        width: 80%;
    }
    .body {
        margin-top: 150px;
    }
    footer {
        display: block;
        padding: 50px 25px;
    }
    footer .logo {
        margin-bottom: 20px;
    }
    footer .logo, footer div {
        width: 400px;
        margin-left: auto;
        margin-left: auto;
    }
}

/* Small Desktops */
@media (min-width: 701px) and (max-width: 1120px) {
    .lrg-menu {
        display: none;
    }
    header {
        width: 600px;
        padding: 20px 0px;
        margin-left: auto;
        margin-right: auto;
    }
    main {
        padding: 10px 100px;
    }
    .body {
        margin-top: 220px;
    }
    footer {
        display: block;
    }
    footer .logo, footer div {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    footer .logo {
        margin-bottom: 20px;
    }
}