@import url('https://fonts.googleapis.com/css2?family=Forum&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    min-width: 400px;
    margin: 0px 120px;
}
main {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
.logo {
    font-family: 'Forum', cursive;
    font-size: 2em;
}
header {
    color: #181818;
    margin: 0px 0px;
}
header div {
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px;
}
header h4 {
    display: inline;
}
header h4 a {
    text-decoration: none;
    color: #181818;
}
header nav {
    margin-top: 10px;
    margin-bottom: 20px;
    float: right;
    font-family: 'Work Sans', sans-serif;
    font-size: .9em;
    font-weight: 400;
    text-transform:uppercase;
}
.current:link {
    color: #EE5135;
    font-weight: 700;
} 
.current:visited {
    color: #EE5135;
    font-weight: 700;
}
.current:hover {
    color:#181818;
}
.current:active {
    color: #181818;
}
header nav ul {
    display: inline;
    margin: 0;
}       
header nav ul li {
    display: inline-block;
    padding-left: 25px;
    color: #1a1b1fa1;
}
header nav ul li a:link {
    text-decoration: none;
    color: #1a1b1fa1;
}
header nav ul li a:visited {
    color: #1a1b1fa1;
}
header nav ul li a:hover {
    color: #181818;
}
header nav ul li a:active {
    color: #181818;
}

#copy {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
main h1 {
    margin-top: 10px;
    margin-bottom: 50px;
    font-family: 'Forum', cursive;
    font-size: 5em;
}
main h2 {
	font-family: 'Work Sans', sans-serif;
    font-weight: 800;
	font-size: 2em;
	margin-top: 0;
}
main h3 {
    margin-bottom: -10px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    margin-top: 100px;
}
main h4 {
	font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
	margin-bottom: 5px;
    font-weight: 400;
    color: #959797;
}
main p {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.1em;
}
.intro {
    margin-top: 10%;
}
main img {
    width: 100%;
    position: absolute;
    margin-top: -50px;
    left: 0;
    right: 0;
}
.body {
	margin-top: 270px;
}
.body div {
	margin-bottom: 125px;
}
#chat {
    background-color: #f5f7fa;
    color: #181818;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Work Sans', sans-serif; ;
    padding: 80px 0px;
    margin-bottom: -150px;
    position: relative;
    outline-style: dotted;
    outline-color: #181818;
    outline-width: 4px;
    outline-offset: 5px;
}
#chat h1 {
    font-size: 44px;
    font-weight: 400;
    padding: 20px 0px;
    margin-bottom: 0;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#chat p {
    width: 70%;
    font-size: 16px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 24px;
}
#chat button {
    width: 250px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 10px 24px;
    border-style: solid;
    border-color: #32343a;
    border-width: 0.75px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
}
#chat button:hover {
    background-color: #181818;
    color: white;
}
footer {
    font-family: 'Work Sans', sans-serif;
    font-size: .9em;
    background-color: #181818;
    color: #F8EEE7;
    margin-left: -120px;
    margin-right: -120px;
}
footer section {
    padding-top: 200px;
    padding-bottom: 20px;
    max-width: 1500px;
    display: flex;
    justify-content:space-between;
    padding-left: 150px;
    padding-right: 150px;
}
footer h2 {
    margin-bottom: 0px;
    text-transform: uppercase;
    font-size: 1em;
}
footer .logo {
    font-size: 2.5em;
    margin: 0;
}
footer .logo a {
    text-decoration: none;
    color: #F8EEE7;
}
footer .menu ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
}
footer .menu ul li {
    padding-left: 20px;
    font-size:18px;
    font-weight:400;
}
footer .menu a {
    text-decoration: none;
    color:#F8EEE7;
}
footer .menu a:hover {
    color: #F3933D;
}
footer hr {
    color: white;
}
footer .copyright {
    font-size: .9em;
    color: #F8EEE7;
    padding: 40px 150px; 
}

/* Mobile */
@media (max-width: 550px) {
    body {
        overflow-x: hidden;
    }
    .lrg-menu {
        display: none;
    }
    header {
        margin: 0px 20px;
        background: none;
        margin-bottom: -50px;
    }
    header .logo {
        display: block;
        text-align: center;
        margin: 0;
        padding-top: 20px;
    }
    header div {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    header nav {
        float: none; 
        text-align: center;
    }
    header nav ul{
        font-size: 1.25em;
        padding-left: 0px;
    }
    header nav ul li {
        display: inline;
        padding-left: 0;
    }
    header nav .current {
        padding-left: 20px;
    }
    main {
        padding: 10px 0px;
        width: 80%;
        margin-left:auto;
        margin-right: auto;
    }
    .intro {
        text-align: center;
    }
    .intro h1 {
        font-size: 4em;
    }
    .body {
        margin-top: 120px;
    }
    footer section {
        display: block;
        padding-left: 50px;
    }
    footer .logo {
        margin-bottom: 40px;
    }
    footer .menu {
        margin-bottom: 20px;
    }
}

/* Small Tablets */
@media (min-width: 550px) and (max-width: 700px) {
    .lrg-menu {
        display: none;
    }
    header {
        margin: 0px 50px;
    }
    header div {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    main {
        padding: 10px 0px;
        width: 80%;
    }
    .body {
        margin-top: 150px;
    }
    footer section {
        display: block;
        padding-left: 50px;
        width: 90%;
    }
    footer .logo {
        margin-bottom: 40px;
    }
    footer .menu {
        margin-bottom: 40px;
    }
    footer .logo, footer div {
        width: 400px;
    }
}

/* Small Desktops */
@media (min-width: 701px) and (max-width: 1120px) {
    .lrg-menu {
        display: none;
    }
    header {
        margin: 0px 50px;
    }
    header div {
        width: 100%;
    }
    main {
        padding: 10px 100px;
    }
    .body {
        margin-top: 220px;
    }
    footer {
        display: block;
        padding-left: 50px;
    }
}