@import url('https://fonts.googleapis.com/css2?family=Forum&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    min-width: 400px;
    margin: 0px 120px;
}
main {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
.logo {
    font-family: 'Forum', cursive;
    font-size: 2em;
}
header {
    /*background-image: linear-gradient(to bottom right, #94618E , #49274A 90%);*/
    background-image: url("../images/profile.png");
    background-repeat: no-repeat;
    background-size: 578px 600px;
    background-position: right 50px;
    height: 670px;
    color: #181818;
    margin: 0px 0px;
}
header div {
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px;
}
header h4 {
    display: inline;
}
header h4 a {
    text-decoration: none;
    color: #181818;
}
header nav {
    margin-top: 10px;
    margin-bottom: 20px;
    float: right;
    font-family: 'Work Sans', sans-serif;
    font-size: .9em;
    font-weight: 400;
    text-transform:uppercase;
}
.current:link {
    color: #EE5135;
    font-weight: 700;
} 
.current:visited {
    color: #EE5135;
    font-weight: 700;
}
.current:hover {
    color:#181818;
}
.current:active {
    color: #181818;
}
header nav ul {
    display: inline;
    margin: 0;
}       
header nav ul li {
    display: inline-block;
    padding-left: 25px;
    color: #1a1b1fa1;
}
header nav ul li a:link {
    text-decoration: none;
    color: #1a1b1fa1;
}
header nav ul li a:visited {
    color: #1a1b1fa1;
}
header nav ul li a:hover {
    color: #181818;
}
header nav ul li a:active {
    color: #181818;
}
header h3 {
    margin-bottom: -10px;
    padding-top: 10%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
}
header h1 {
    padding-top: 150px;
    margin-bottom: 0px;
    font-family: 'Forum', cursive;
    font-size: 5em;
    width: 500px;
    color: #181818;
}
header h2 {
    margin-top: 0px;
    margin-bottom: -10px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 2em;
}
header p {
    width: 50%;
    padding-bottom: 120px;
    font-family: 'Work Sans', sans-serif;
    font-size: 2em;
}
header img {
    display: none;
}

main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
main h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    color: #181818;
}
main h4 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    color: #1a1b1fa1;
    padding-top: 60px;
    font-size: 20px;
    text-align: center;
}
.designwork {
    background-color: #f5f7fa;
    padding-bottom: 25px;
}
.display {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.display a {
    position: relative;
    text-decoration: none;
}
.display .lrg {
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-bottom: 75px;
    background-color: white;
}
a.lrg.flip {
    flex-direction:row-reverse;
}
.display .lrg:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px #959797;
}
.display .lrg h3 {
    width: 35%;
    height: 100%;
    position: relative;
    margin: 0px;
    padding-left: 24px;
}
.display .lrg img {
    width: 60%;
    height: 100%;
}

button.explore {
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: white;
    align-items: center;
    text-align: left;
    padding: 10px 24px;
    border-style: solid;
    border-color: #32343a;
    border-width: 0.75px;
    font-size: 14px;
}
button.explore:hover {
    background-color: #181818;
    color: white;
}
.gallery {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.gallery h3, .display h3 {
    color: #181818;
    position: absolute;
    font-family: 'Work Sans', sans-serif;
    margin-left: 25px;
    font-size: 1.5em;
    font-weight: 600;
}
.gallery h3 p, .display h3 p {
    margin-top: 5px;
    color: #1a1b1fa1;
    font-size: 0.75em;
    font-weight: 400;
}
.gallery .row2 {
    width: 45%;
    margin-bottom: 75px;
    padding-bottom: 100px;
}
.gallery .row3 {
    width: 30%;
    margin-bottom: 100px;
}
.gallery img, .display img {
    width: 100%;
    object-fit:cover; 
    transition: 0.25s all ease-in-out; 
    height: 350px; 
}
.gallery .row1 h3, .gallery .row2 h3 {
    margin: 0px;
    position: relative;
    padding-left: 25px;
    padding-top: 10px;
}
.gallery a {
    position: relative;
    text-decoration: none;
    background-color: white;
    padding-bottom: 200px;
}
.gallery a:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px #959797;
}
.blue {
    background-color: #A1D4CA;
}
.orange {
    background-color:#F3933D;
}
.red {
    background-color: #EE5135;
}
.purp {
    background-color: #91638C;
}
.books {
    padding: 0px;
    margin-bottom: 50px;
}
.book-pics {
    position: relative;
    display: flex;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
    margin-left: -120px;
    margin-right: -120px;
}
.book-pics img {
    height: 300px;
    margin: 0px 10px;
    box-shadow: 0px 5px 10px #959797;
}
.book-pics::-webkit-scrollbar {
    height: 10px;
}
.book-pics::-webkit-scrollbar-thumb {
    background-color: #EE5135;
    border-radius: 10px;
}
#chat {
    background-color: #f5f7fa;
    color: #181818;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Work Sans', sans-serif;
    padding: 80px 0px;
    margin-bottom: -150px;
    position: relative;
    outline-style: dotted;
    outline-color: #181818;
    outline-width: 4px;
    outline-offset: 5px;
}
#chat h1 {
    font-size: 44px;
    font-weight: 400;
    padding: 20px 0px;
    margin-bottom: 0;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#chat p {
    width: 70%;
    font-size: 16px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 24px;
}
#chat .button{
    width: 250px;
    display: flex;
    background-color: white;
    color:#181818;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 10px 24px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    border-style: solid;
    border-color: #32343a;
    border-width: 0.75px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

#chat .button:hover{
    background-color: #181818;
    color: white;
}
footer {
    font-family: 'Work Sans', sans-serif;
    font-size: .9em;
    background-color: #181818;
    color: #F8EEE7;
    margin-left: -120px;
    margin-right: -120px;
}
footer section {
    padding-top: 200px;
    padding-bottom: 20px;
    max-width: 1500px;
    display: flex;
    justify-content:space-between;
    padding-left: 150px;
    padding-right: 150px;
}
footer h2 {
    margin-bottom: 0px;
    text-transform: uppercase;
    font-size: 1em;
}
footer .logo {
    font-size: 2.5em;
    margin: 0;
}
footer .logo a {
    text-decoration: none;
    color: #F8EEE7;
}
footer .menu ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
}
footer .menu ul li {
    padding-left: 20px;
    font-size:18px;
    font-weight:400;
}
footer .menu a {
    text-decoration: none;
    color:#F8EEE7;
}
footer .menu a:hover {
    color: #F3933D;
}
footer hr {
    color: white;
}
footer .copyright {
    font-size: .9em;
    color: #F8EEE7;
    padding: 40px 150px; 
}


/* Mobile */
@media (max-width: 440px) {
    header h1 {
        font-size: 3em;
    }
}
@media (min-width: 441px) and (max-width: 550px) {
    header h1 {
        font-size: 4em;
    }
}
@media (max-width: 550px) {
    body {
        overflow-x: hidden;
    }
    .lrg-menu {
        display: none;
    }
    header {
        margin: 0px 20px;
        background: none;
        margin-bottom: -50px;
    }
    header .logo {
        display: block;
        text-align: center;
        margin: 0;
        padding-top: 20px;
    }
    header div {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    header img {
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
    }
    header h1, header h2, header p {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    header h2 {
        font-size: 1.5em;
    }
    header p {
        padding-bottom: 0;
        margin-bottom: 0px;
        font-size: 1.25em;
    }
    header nav {
        float: none; 
        text-align: center;
    }
    header nav ul{
        font-size: 1.25em;
        padding-left: 0px;
    }
    header nav ul li {
        display: inline;
        padding-left: 0;
    }
    header nav .current {
        padding-right: 20px;
    }
    
    main {
        padding: 10px 0px;
        width: 80%;
        margin-left:auto;
        margin-right: auto;
    }
    .gallery {
        display: block;
    }
    .gallery .lrg img {
        padding-left: 0px;
        width: 100%;
    }
    .gallery .lrg h3 {
        margin-top: 0px;
        width: 100%;
        position: relative;
        margin-left: 0px;
    }
    .sticker {
        padding-bottom: 20px;
    }
    footer section {
        display: block;
        padding-left: 50px;
    }
    footer .logo {
        margin-bottom: 40px;
    }
    footer .menu {
        margin-bottom: 40px;
    }
    footer .logo, footer div {
        width: 400px;
    }
}

/* Small Tablets */
@media (min-width: 551px) and (max-width: 920px) {
    .lrg-menu {
        display: none;
    }
    header {
        background-size: 217px 225px;
        background-position: center 0px;
        margin: 0px 50px;
        margin-bottom: -20px;
    }
    header div {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    header h1 {
        margin-top: 100px;
    }
    header h1, header h2, header p {
        text-align: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    header h1 {
        font-size: 4em;
    }
    header p {
        width: 80%;
    }
    main {
        padding: 0px 0px;
        width: 90%;
        margin-left:auto;
        margin-right:auto;
    }
    .gallery .lrg img {
        padding-left: 50%;
        width: 50%;
    }
    .gallery .lrg h3 {
        width: 45%;
    }
    footer section {
        display: block;
        padding-left: 50px;
        width: 90%;
    }
    footer .logo {
        margin-bottom: 40px;
    }
    footer .menu {
        margin-bottom: 40px;
    }
    footer .logo, footer div {
        width: 400px;
    }
}

/* Small Desktops */
@media (min-width: 921px) and (max-width: 1100px) {
    header {
        background-size: 481px 80%;
        background-position: right 30px;
        margin: 0px 50px;
    }
    header h1, header h2 {
        width: 100%;
        padding-top: 20px;
    }
    header div {
        width: 100%;
    }
    header p {
        width: 50%;
        padding-bottom: 0;
    }
    main {
        width: 90%;
        margin: 0px 50px;
    }
    footer {
        display: block;
        padding-left: 50px;
    }
    
}
@media (min-width: 1101px) and (max-width:1180px) {
    header {
        margin: 0px 50px;
    }
}