html {
    position: relative;
    min-height: 100vh;
}
body {
	font-family: 'Commissioner', sans-serif;
	font-style: normal;
	font-weight: 200;
	margin: 0px;
}
header {
	width: 100%;
	height: 100px;
	background-color: #0c2431;
}
.logo {
	color: #fff;
	font-weight: bold;
	text-align: undefined;
	width: 15%;
	float: left;
	margin-top: 40px;
	margin-left: 25px;
	letter-spacing: 4px;
}
nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 25px;
}
header nav ul {
	list-style: none;
	float: right;
}
header nav ul li {
	float: left;
	margin-top: 25px;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
header ul li a {
	color: #fff;
	text-decoration: none;
}
header ul li:hover a {
	color: #d37556;
}
h1 {
	margin-left: 25px;
	color: #0c2431
}
.gallery {
	display: block;
	width: 100%;
	background-color: white;
	padding-bottom: 35px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -30px;
}
.gallery img {
	object-fit: cover;
  	width: 400px;
  	height: 400px;
	margin: 30px;
	opacity: 0.5;
}
.gallery img:hover {
	opacity: 1;	
}
#thumbnail1 {
	position: absolute;
	margin-left: 30px;
	margin-top: -30px;
	color: #0c2431;
}
#thumbnail2 {
	position: absolute;
	margin-left: 495px;
	margin-top: -30px;
	color: #0c2431;
}
#thumbnail3 {
	position: absolute;
	margin-left: 955px;
	margin-top: -30px;
	color: #0c2431;
}
#thumbnail4 {
	position: absolute;
	margin-left: 30px;
	margin-top: -30px;
	color: #0c2431;
}
#thumbnail5 {
	position: absolute;
	margin-left: 495px;
	margin-top: -30px;
	color: #0c2431;
}
#thumbnail6 {
	position: absolute;
	margin-left: 955px;
	margin-top: -30px;
	color: #0c2431;
}
.banner {
	background-color: #0c2431;
	height: 400px;
}
.parallax {
	color: #FFFFFF;
	text-align: left;
	padding-left: 150px;
	padding-top: 110px;
	letter-spacing: 2px;
	margin-top: 0px;
}
.parallax_description {
	color: #FFFFFF;
	text-align: left;
	padding-left: 150px;
	width: 30%;
	float: left;
	font-weight: lighter;
	line-height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.button{
	width: 300px;
	margin-top: 100px;
	margin-left: 150px;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	border: 3px solid #FFFFFF;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	color: #FFFFFF;
	transition: all 0.3s linear;
	text-decoration: none;
}
.button a {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	color: #FFFFFF;
	transition: all 0.3s linear;
	text-decoration: none;
}
.button:hover {
	background-color: #FEFEFE;
	cursor: pointer;
}
.button a:hover {
	color: #0c2431;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #d37556;;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

/* Mobile */
@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	display: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 90%;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	float: none;
	text-align: center;
}
.banner {
	background-color:  #0c2431;
	background-image: none;
}
.tagline {
	margin-top: 20px;
	line-height: 22px;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #fff;
}
header nav {
	margin-top: 0px;
	margin-right: 0px;
	padding-bottom: 25px;
	padding-left: 25px;
	width: 100%;
	float: none;
	overflow: auto;
	display: inline-block;
	background:  #0c2431;
}
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	display: inline-block;
}
main {
	margin-top: 120px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 30%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: none;
	width: 100%;
	text-align: center;
}
.thumbnail {
	width: 50%;
}
.parallax {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 20%;
}
.parallax_description {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	padding-top: 30px;
}
.banner {
	padding-left: 20px;
	padding-right: 20px;
}
.footer_column {
	width: 100%;
}
.button {
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 50%;
}
.text_column {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.banner {
	margin-top: 0px;
	padding-top: 0px;
}
}
