@import url('https://fonts.googleapis.com/css2?family=Forum&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    min-width: 400px;
    margin: 0px 120px;
}
main {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
.logo {
    font-family: 'Forum', cursive;
    font-size: 2em;
}
header {
    color: #181818;
    margin: 0px 0px;
}
header div {
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px;
}
header h4 {
    display: inline;
}
header h4 a {
    text-decoration: none;
    color: #181818;
}
header nav {
    margin-top: 10px;
    margin-bottom: 20px;
    float: right;
    font-family: 'Work Sans', sans-serif;
    font-size: .9em;
    font-weight: 400;
    text-transform:uppercase;
}
.current:link {
    color: #EE5135;
    font-weight: 700;
} 
.current:visited {
    color: #EE5135;
    font-weight: 700;
}
.current:hover {
    color:#181818;
}
.current:active {
    color: #181818;
}
header nav ul {
    display: inline;
    margin: 0;
}       
header nav ul li {
    display: inline-block;
    padding-left: 25px;
    color: #1a1b1fa1;
}
header nav ul li a:link {
    text-decoration: none;
    color: #1a1b1fa1;
}
header nav ul li a:visited {
    color: #1a1b1fa1;
}
header nav ul li a:hover {
    color: #181818;
}
header nav ul li a:active {
    color: #181818;
}
.cc {
    background-color: #176DB4;
}
h1 {
	margin-left: 25px;
	color: #0c2431
}
.gallery {
	display: block;
	width: 100%;
	background-color: white;
	padding-bottom: 35px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -30px;
}
.button{
	width: 300px;
	margin-top: 100px;
	margin-left: 150px;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	border: 3px solid #FFFFFF;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	color: #FFFFFF;
	transition: all 0.3s linear;
	text-decoration: none;
}
.button a {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	color: #FFFFFF;
	transition: all 0.3s linear;
	text-decoration: none;
}
.button:hover {
	background-color: #FEFEFE;
	cursor: pointer;
}
.button a:hover {
	color: #0c2431;
}
#chat {
    background-color: #f5f7fa;
    color: #181818;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Work Sans', sans-serif; ;
    padding: 80px 0px;
    margin-bottom: -150px;
    position: relative;
    outline-style: dotted;
    outline-color: #181818;
    outline-width: 4px;
    outline-offset: 5px;
}
#chat h1 {
    font-size: 44px;
    font-weight: 400;
    padding: 20px 0px;
    margin-bottom: 0;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#chat p {
    width: 70%;
    font-size: 16px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 24px;
}
#chat button {
    width: 250px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 10px 24px;
    border-style: solid;
    border-color: #32343a;
    border-width: 0.75px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
}
#chat button:hover {
    background-color: #181818;
    color: white;
}
footer {
    font-family: 'Work Sans', sans-serif;
    font-size: .9em;
    background-color: #181818;
    color: #F8EEE7;
    margin-left: -120px;
    margin-right: -120px;
}
footer section {
    padding-top: 200px;
    padding-bottom: 20px;
    max-width: 1500px;
    display: flex;
    justify-content:space-between;
    padding-left: 150px;
    padding-right: 150px;
}
footer h2 {
    margin-bottom: 0px;
    text-transform: uppercase;
    font-size: 1em;
}
footer .logo {
    font-size: 2.5em;
    margin: 0;
}
footer .logo a {
    text-decoration: none;
    color: #F8EEE7;
}
footer .menu ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
}
footer .menu ul li {
    padding-left: 20px;
    font-size:18px;
    font-weight:400;
}
footer .menu a {
    text-decoration: none;
    color:#F8EEE7;
}
footer .menu a:hover {
    color: #F3933D;
}
footer hr {
    color: white;
}
footer .copyright {
    font-size: .9em;
    color: #F8EEE7;
    padding: 40px 150px; 
}
/* Mobile */
@media (max-width: 320px) {
    h1 {
        width: 100%;
    }
    .logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	display: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 90%;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	float: none;
	text-align: center;
}
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
html {
    height: 1400px;
}
h1 {
    width: 100%;
}
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #fff;
}
header nav {
	margin-top: 0px;
	margin-right: 0px;
	padding-bottom: 25px;
	padding-left: 25px;
	width: 100%;
	float: none;
	overflow: auto;
	display: inline-block;
	background: #0c2431;
}
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}
main {
    margin-top: 120px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 30%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: none;
	width: 100%;
	text-align: center;
}
.parallax {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 20%;
}
.parallax_description {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	padding-top: 30px;
}
.banner {
	padding-left: 20px;
	padding-right: 20px;
}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.logo {
    width: 100%;
}
h1 {
    width: 100%;
}
    .text_column {
	width: 100%;
}
.thumbnail {
	width: 50%;
}
.text_column {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.banner {
	margin-top: 0px;
	padding-top: 0px;
}
}
